/* Color theme */
:root {
  --bg-color: #81b9bf;
  --bg-light: #eceff1;
  --font-color: #328fa0;
  --font-light: #fff;
  --item-bg: #fff;
}

.darkMode {
  --bg-color: #171923;
  --bg-light: #232535;
  --font-color: #c5cddb;
  --font-light: #fff;
  --item-bg: #171923;
}

body {
  background-color: var(--bg-light);
  margin: 0;
}

/* Header */
header {
  background-color: var(--bg-color);
  color: #fff;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

.header_logo {
  margin-left: 20px;
}

.nav_container {
  width: 100%;
  height: 100%;
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}

nav ul li {
  padding: 0 20px;
  margin-top: 5px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

nav ul li a:hover {
  color: var(--font-color);
  transition: all 0.3s ease;
}

/* Mobile Side Menu */
.sidemenu {
  position: fixed;
  display: block;
  text-align: center;

  top: 0;
  left: 0;
  width: 88vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-light);
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out 0s;
}

.sidemenu.active {
  transform: translateX(0%);
}
.sidemenu.active li a {
  font-size: 3rem;
}

#burger {
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  width: 30px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  visibility: hidden;
}
#burger > div {
  height: 4px;
  z-index: 1;
  border-radius: 20px;
  align-self: flex-end;
  width: 100%;
  background-color: #fff;
}

#burger.active div:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
#burger.active div:nth-child(2) {
  opacity: 0;
}
#burger.active div:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.sidemenu ul {
  margin: 150px;
}
.sidemenu ul li {
  margin-bottom: 100px;
}
.sidemenu ul li a {
  color: #fff;
  font-size: 2rem;
}

/* Mobile */
@media screen and (max-width: 850px) {
  .headermenu_ul {
    display: none;
  }
  #burger {
    visibility: visible;
  }
  .sidemenu_ul {
    display: block;
  }
}

/* Dark Mode */
#toggle {
  font-size: 2rem;
  margin: 10px;
}
.switch {
  align-self: center;
  margin-right: 25px;
  border: 1.5px solid #fff;
  border-radius: 34px;

  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #006064;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #328fa0;
}

input:checked + .slider:before {
  transform: translateX(31px);
}

/* Main */
main {
  margin-top: 80px;
  color: var(--font-color);
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main_item {
  background-color: var(--item-bg);
  padding: 10px;
  margin: 30px;
  height: auto;
  width: 18.2rem;
  cursor: pointer;
}

img {
  width: 18rem;
  height: 14rem;
  background-color: #81b9bf;
}

.main_item .text_wrapper {
  height: inherit;
  cursor: pointer;
}

@media (max-width: 850px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Scroll Button */
.up_btn {
  top: 90%;
  right: 2%;
  width: 60px;
  height: 60px;
  border-radius: 80%;
  background-color: #fff;
  border: 3px solid #328fa0;
  color: #328fa0;
  font-weight: bold;
  font-size: 1.2rem;
  position: fixed;
  z-index: 2;
  cursor: pointer;
}

/* Modal */
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.modal_content {
  background-color: var(--bg-light);
  color: var(--font-color);
  padding: 25px;
  top: 0;
  width: 50rem;
  height: 27rem;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal_text_wrapper {
  margin-left: 20px;
}

.modal_text_wrapper h2 {
  margin-top: 10px;
  font-size: 2rem;
}

.modal button {
  height: 25px;
  margin: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.hidden {
  display: none;
}
